<!DOCTYPE HTML>
<html lang="en-US" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Vue Js Bangla Tutorial</title>
	<style>
	</style>

</head>
<body>
	<div id="root">
		<h1>To Do List</h1><hr>

				<p v-for="(skill, i) in skills">
					{{i}}) {{skill}} <button @click="removeSkill(i)">Completed</button>
				</p>
		<input type="text" v-model="newSkill">
		<button @click="addNewSkill()">Add</button>

	</div>

	<script type="text/javascript" src="vue.js" ></script>
	
	<script type="text/javascript">
	 var app= new Vue({
		el:  "#root",
		data:
			{
		    newSkill: "",
		    skills:["Wake up Then Brush Then Morning Breakfast Then Review Plan Then Action"]
			},
		methods:
			{
                addNewSkill() {
                    //alert("Are you sure want to Adding this Skill");
                    this.skills.push(this.newSkill);
                    this.newSkill = '';
                },
                removeSkill(i) {
                    this.skills.splice(i, 1);
                }
            }

     });

	</script>
	<a href="Part-09.html">Part-09</a>

</body>
</html>