<!DOCTYPE html>
<html>
<head>
	<title>Vue Js Bangla Tutorial</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style type="text/css">
		.foo{
			background: #00fa00;
			text-align: center;
			width: 960px;
			margin: 44px auto;
			min-height: 222px;
		}
		.bar-enter-active, .bar-leave-active{
			transition: margin-left .5s ;
		}
		.bar-enter, .bar-leave-to{
			margin-left: -222px;
		}
	</style>
</head>
<body>

	<div id="root">
		<h1>Skills</h1><hr>
		<input type="text" v-model="newSkill">
		<button @click="addNewSkill()">Add</button>
		<ul>
			<transition-group name="bar">
				<li v-for="(skill, i) in skills" :key="i">
					<p>
						{{skill}} <button @click="removeSkill(i)">X</button>
					</p>
				</li>
			</transition-group>
		</ul>

	</div>

<script type="text/javascript" src="vue.js"></script>

<script type="text/javascript">
    var app= new Vue({
        el:  "#root",
        data:
            {
                newSkill: "",
                skills:["HTML","CSS","JS"]
            },
        methods:
            {
                addNewSkill() {
                    //alert("Are you sure want to Adding this Skill");
                    this.skills.push(this.newSkill);
                    this.newSkill = '';
                },
                removeSkill(i) {
                    this.skills.splice(i, 1);
                }
            }

    });
</script>
<a href="Part-15.html">Part-15</a>

</body>
</html>